<div class="container my-5 user-form">
  <h2 class="mb-4">Aggiungi Utente</h2>
  <form [formGroup]="utenteForm" (ngSubmit)="onSubmit()" class="custom-form">
    <div class="mb-3">
      <label for="idBanca" class="form-label">ID Banca:</label>
      <input type="text" id="idBanca" readonly name="idBanca" formControlName="idBanca" [(ngModel)]="this.idBanca " class="form-control" required>
    </div>

    <div class="mb-3">
      <label for="nomeUtente" class="form-label">Username:</label>
      <input type="text" id="nomeUtente" name="nomeUtente" formControlName="nomeUtente" class="form-control" required>
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password:</label>
      <input type="password" id="password" name="password" formControlName="password" class="form-control" required>
    </div>

    <div class="mb-3 form-check">
      <input type="checkbox" id="bloccato" name="bloccato" formControlName="bloccato" class="form-check-input">
      <label class="form-check-label" for="bloccato">Is Locked</label>
    </div>

    <div class="mb-3">
      <label for="role" class="form-label">Role:</label>
      <input type="text" id="role" name="role" formControlName="role" class="form-control" required>
    </div>

    <button mat-raised-button color="primary" type="submit" class="custom-button">Save</button>
  </form>
</div>
