<div class="outer">
  <div class="prelievo-container">
    <h2>Effettua Prelievo</h2>
    
    <div class="form-group">
      <label for="quantita">Quantità:</label>
      <input type="number" id="quantita" [(ngModel)]="operazione.quantita" />
    </div>
    
    <button class="prelievo-button" (click)="confermaPrelievo()">Effettua Prelievo</button>
    
    <div *ngIf="prelievoSuccesso" class="success-message">
      <i class="fas fa-check-circle"></i> {{ feedbackMessaggio }}
    </div>
    
    <div *ngIf="errorePrelievo" class="error-message">
      <i class="fas fa-exclamation-circle"></i> hai ritirato {{this.operazione.quantita}} EUR con successo!
    </div>
  </div>
</div>
