<div class="outer">
  <mat-card class="card">
    <mat-card-title class="text-center">Scelta Gestione</mat-card-title>
    <mat-card-content class="d-flex justify-content-center">
      <button mat-raised-button color="primary" class="m-2" (click)="goToLogin()">
        <mat-icon>admin_panel_settings</mat-icon> Gestione Admin
      </button>
      <button mat-raised-button color="primary" class="m-2" (click)="goToLoginUser()">
        <mat-icon>person</mat-icon> User
      </button>
    </mat-card-content>
  </mat-card>
</div>
