<!-- <mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened class="sidebar">
        <mat-nav-list role="list">
            <ng-container *ngFor="let funzione of funzionalita">
                <mat-list-item role="listitem" (click)="navigateToFunzione(funzione.id, funzione.nome)" [routerLinkActive]="'active'">
                    <mat-icon>{{ getIconByFunzione(funzione.nome) }}</mat-icon>
                    <span class="nav-label">{{ funzione.nome }}</span>
                </mat-list-item>
            </ng-container>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container> -->
