<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened class="sidebar">
        <mat-nav-list role="list">
            <mat-list-item role="listitem" routerLink="banche" [routerLinkActive]="'active'">
                <mat-icon>account_balance</mat-icon>
                <span class="nav-label">Banche</span>
            </mat-list-item>
            <mat-list-item role="listitem" routerLink="utenti" [routerLinkActive]="'active'">
                <mat-icon>person</mat-icon>
                <span class="nav-label">Utenti</span>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content style="width: 100%;">
        <mat-toolbar color="primary" class="toolbar">
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon" aria-label="Logout" (click)="onLogout()">
                <mat-icon>exit_to_app</mat-icon>
            </button>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
