<div class="container my-5">
    <h1 class="text-center mb-4">Utenti</h1>
    <button mat-raised-button color="primary" (click)="navigateToAddUtente()">Add Utente</button>
  
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Nome Utente</th>
            <th>Is Locked?</th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let utente of utenti">
            <td>{{ utente.nomeUtente }}</td>
            <td>{{ utente.bloccato ? 'Yes' : 'No' }}</td>
            <td>
              <a [routerLink]="'edit/' + utente.id" >Edit</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <p *ngIf="!utenti" class="text-center mt-3">No Utente found</p>
  </div>
  