<div class="outer">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-8">
          <mat-card class="panel" color="primary">
            <mat-card-header>
              <mat-card-title class="panel-heading">
                <h3 class="font-weight-bold">Login</h3>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="panel-body p-3">
              <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <mat-form-field class="form-group pt-3">
                  <mat-icon matPrefix class="fa fa-user p-2"></mat-icon>
                  <input matInput formControlName="nomeUtente" placeholder="NomeUtente">
                  <div *ngIf="loginForm.get('nomeUtente')?.hasError('required') && loginForm.get('nomeUtente')?.touched" class="error-message">
                    Username is required.
                  </div>
                </mat-form-field>
                <mat-form-field class="form-group pt-3">
                  <mat-icon matPrefix class="fa fa-lock p-2"></mat-icon>
                  <input matInput formControlName="password" [type]="isPasswordVisible ? 'text' : 'password'" placeholder="Password">
                  <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
                    <mat-icon>{{ isPasswordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
                  </button>
                  <div *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched" class="error-message">
                    Password is required.
                  </div>
                </mat-form-field>              
                <div class="form-inline justify-content-end mt-4">
                  <a id="forget" class="font-weight-bold">Forgot Password?</a>
                </div>
                <button mat-raised-button type="submit" color="accent" class="btn btn-primary btn-block mt-4">Login</button>
                <div class="text-center pt-4 text-muted">
                  Don't have an account?
                  <a id="forget" routerLink="/signup" class="font-weight-bold"> Sign Up</a>
                </div>
              </form>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  