/* Aggiungi stili al container */
.container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  /* Aggiungi stili all'header */
  h1 {
    text-align: center;
    color: #007bff; /* Cambia il colore azzurro a tuo piacimento */
  }
  
  /* Aggiungi stili alla tabella */
  .table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  /* Stili per l'header della tabella */
  .table th {
    background-color: #007bff; /* Colore di sfondo dell'header */
    color: #fff; /* Colore del testo dell'header */
    text-align: left;
    padding: 10px;
  }
  
  /* Stili per le celle della tabella */
  .table td {
    border: 1px solid #ddd; /* Bordo delle celle */
    padding: 10px;
    text-align: left;
  }
  
  /* Stili per le righe alternate */
  .table tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Colore di sfondo delle righe pari */
  }
  
  /* Stili per il messaggio "No drink found" */
  p {
    text-align: center;
    color: #ff0000; /* Cambia il colore rosso a tuo piacimento */
    font-weight: bold;
  }
  